.footer__logo {
    font-family: "PP Eiko medium";
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.footer__copyright {
    font-size: 2.5rem;
}

.footer__contact {
    font-family: "PP Eigo medium";
    font-size: 2.5rem;
}